.main {
  position: relative;
  margin: 0 auto;
  width: 1440px;
}

.spline {
  margin: 0 0 0 400px;
  border-radius: 32px;
}

.mainBlock {
  position: absolute;
  top: 88px;
  left: 0;
  width: 720px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: rgba(10, 10, 10, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.15) inset,
    0px 0px 68px 0px rgba(255, 255, 255, 0.05) inset;
  backdrop-filter: blur(24px);
  padding: 98px 64px;
}

.mainBlock h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.16;
  margin-bottom: 32px;
}

.mainBlock h2 span {
  font-style: italic;
  border-radius: 8px;
  color: #090909;
  background-color: #E0A39A;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
}

.mainBlock p {
  width: 500px;
  line-height: 1.37;
  margin-bottom: 64px;
}

.underBlock {
  position: absolute;
  top: 682px;
  left: 50%;
  transform: translateX(-50%);
  width: 1440px;
  border-radius: 30px;
  background-color: rgba(10, 10, 10, 0.4);
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.15) inset,
    0px 0px 68px 0px rgba(255, 255, 255, 0.05) inset;
  backdrop-filter: blur(24px);
  padding: 98px 64px;
  display: flex;
  justify-content: space-between;
  padding: 40px 122px;
}

.underBlock li {
  display: flex;
  gap: 16px;
  align-items: center;
}

.num {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
}

.text {
  color: #e2e2e2b3;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  width: 85px;
}
