.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Сдвигаем элемент на половину его ширины */
    width: 1440px;
    position: fixed;
    z-index: 999;
    margin: 20px auto;
}