.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  width: 1184px;
  position: fixed;
  z-index: 999;
  margin: 20px auto;
  padding: 20px;
  height: 48px;
  transition: all 0.5s ease;
}

.header.transparent {
    background-color: transparent;
  }
  
  .header.scrolled {
    background-color: #090909;
    padding: 40px 20px;
    margin: 0 auto;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom: 1px solid #E0A39A;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);

  }
