.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
  width: 1184px;
  position: fixed;
  z-index: 999;
  margin: 20px auto;
}
