.bigButton {
  border-radius: 12px;
  background: #e0a39a;
  border: none;
  color: #090909;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.55;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.bigButton:hover {
  opacity: 0.8;
}
