.auth {
  display: flex;
  gap: 16px;
}

.log {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #e2e2e2;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25;
  transition: all 0.3s ease;
}

.log:hover {
  color: #e2e2e25f;
}

.logIcon {
  fill: #e0a39a;
}

.hello {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  border-radius: 8px;
  color: #090909;
  background-color: #e0a39a;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
  padding: 4px 8px;
}
