.filters {
  width: 1184px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.filtersUl {
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
}

.filtersUl li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filtersUl li label {
  color: rgb(138, 138, 137);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.filtersUl li select {
  color: #090909;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.11;
  border: 14px solid #ffffff;
  border-radius: 14px;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

:global(#language) {
  width: 232px;
}

:global(#level) {
  width: 210px;
}

:global(#price) {
  width: 140px;
}

.reset {
  border-radius: 12px;
  background: #e0a39a;
  border: none;
  color: #090909;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.55;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 120px;
  height: 48px;
}

.reset:hover {
  opacity: 0.8;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
